<div class="row top75">
  <div class="large-12 columns">
    <h3>Sie haben noch Fragen?</h3>
    <p>Gerne beantworten Ihnen alle Fragen zu Ihrer Weiterbildung</p>
  </div>
</div>

<div class="row">
  <div class="large-10 columns">
    <form>
      <div class="row">
        <div class="medium-6 columns">
          <label>Vorname
            <input type="text" placeholder="Vorname">
          </label>
        </div>
        <div class="medium-6 columns">
          <label>Name
            <input type="text" placeholder="Nachname">
          </label>
        </div>
      </div>
      <div class="row">
        <div class="medium-12 columns">
          <label>E-Mail
            <input type="text" placeholder="E-Mail " aria-describedby="exampleHelpText">
          </label>
        </div>
      </div>
      <fieldset class="fieldset">
        <legend>Für welchen Termin interessieren Sie sich?</legend>
        <input id="checkbox12" type="checkbox"><label for="checkbox12">Checkbox 1</label>
        <input id="checkbox22" type="checkbox"><label for="checkbox22">Checkbox 2</label>
        <input id="checkbox32" type="checkbox"><label for="checkbox32">Checkbox 3</label>
      </fieldset>
      <button class="button rounded" href="#">Senden</button>
    </form>
  </div>
</div>
