<div class="row">
  <div class="large-12 columns">
    <span>Legende:</span>
    <span class="success label">Ausreichen freie Plätze</span>
    <span class="warning label">Wenige freie Plätze</span>
    <span class="alert label">Leider ausgebucht</span>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    &nbsp;
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <div class="callout kurs">
      <div class="row">
        <div class="medium-3 small-6 columns">
          <p><strong>Datum</strong></p>
          <p>15.01.2017</p>
        </div>
        <div class="medium-3 small-6 columns">
          <p><strong>Ort</strong></p>
          <p>Heidelberg</p>
        </div>
        <div class="medium-3 small-6 columns">
          <p><strong>Preis</strong></p>
          <p>495,00 €</p>
        </div>
        <div class="medium-3 small-6  columns">
          <br />
          <button class="button" href="#">Anmelden</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <div class="callout kurs warning">
      <div class="row">
        <div class="medium-3 small-6 columns">
          <p><strong>Datum</strong></p>
          <p>15.01.2017</p>
        </div>
        <div class="medium-3 small-6 columns">
          <p><strong>Ort</strong></p>
          <p>Heidelberg</p>
        </div>
        <div class="medium-3 small-6 columns">
          <p><strong>Preis</strong></p>
          <p>495,00 €</p>
        </div>
        <div class="medium-3 small-6  columns">
          <br />
          <button class="button" href="#">Anmelden</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <div class="callout kurs alert">
      <div class="row">
        <div class="medium-3 small-6 columns">
          <p><strong>Datum</strong></p>
          <p>15.01.2017</p>
        </div>
        <div class="medium-3 small-6 columns">
          <p><strong>Ort</strong></p>
          <p>Heidelberg</p>
        </div>
        <div class="medium-3 small-6 columns">
          <p><strong>Preis</strong></p>
          <p>495,00 €</p>
        </div>
        <div class="medium-3 small-6  columns">
          <br />
          <button class="button hide" href="#">Anmelden</button>
        </div>
      </div>
    </div>
  </div>
</div>
